body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
.no-medias {
  position: relative;
  width: 100%;
  height: 100%;
}
.no-medias .add-media-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #444444;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.main-wrapper::webkit-scrollbar {
  width: 0 !important;
}
#titlebar {
  position: fixed;
  width: 100%;
  top: 0;
}
#titlebar .titlebar {
  background-color: rgba(26, 26, 26, 0.93);
  height: 35px;
}
#titlebar .titlebar .titlebar-stoplight {
  margin: 5px;
}
.movie-card {
  width: 140px;
  height: 230px;
  margin: 10px;
  background-color: transparent;
  display: inline-block;
}
.poster-card {
  cursor: pointer;
  width: 140px;
  height: 200px;
  display: inline-block;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.56);
}
.movie-title {
  width: 100%;
  display: block;
  font-size: 13px;
  font-family: helvetica neue;
  color: #838383;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/********************************
 * PLAYER STYLE
 ********************************/
.player-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: black;
}
.player-wrapper.visible {
  display: block;
}
.player-wrapper.visible .video-controls {
  display: block;
}
.player-wrapper video {
  width: 100%;
  height: 100%;
}
.player-wrapper .video-controls {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.player-wrapper .video-controls:hover .video-bottom-toolbar {
  bottom: 0;
}
.player-wrapper .video-controls .video-bottom-toolbar {
  position: absolute;
  bottom: -43px;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-bottom-controls-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
  z-index: 1002;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container {
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: -5px;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container:hover {
  top: -17px;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container progress {
  width: 100%;
  -webkit-appearance: none;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container progress[value] {
  -webkit-appearance: none;
  width: 100%;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container progress[value]::webkit-progress-bar {
  background-color: #0b0b0b;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container progress[value]::webkit-progress-value {
  background-color: #4ADEFF;
}
.player-wrapper .video-controls .video-bottom-toolbar .video-progress-container .thumbnail-preview {
  position: absolute;
  width: 110px;
  height: 60px;
  top: -70px;
  left: 10px;
  background-color: black;
}
.player-wrapper .video-controls .player-icons {
  font-size: 30px;
  position: absolute;
  display: inline-block;
  top: 5px;
  cursor: pointer;
}
.player-wrapper .video-controls .player-icons.play-icon {
  left: 10px;
}
.player-wrapper .video-controls .player-icons.close-icon {
  right: 10px;
}
